@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    margin: 0;
    padding: 0;
}
.words {
    position: relative;
    line-height: 20px;
}
.words-wrapper {
    background-color: #d5fe65;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}
.nav-links-inner {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.time {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.time-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}
.nav-links-child {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.divider2 {
    width: 4px;
    position: relative;
    background-color: #262629;
    height: 44px;
}
.wrapper {
    width: 36px;
    background-color: #d5fe65;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame-div {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #0f1114;
}
.container {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-links1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: #e0e0e0;
}
.settings-bar {
    position: absolute;
    top: 104px;
    left: calc(50% - 320px);
    background-color: #0f1114;
    width: 640px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    box-sizing: border-box;
    color: #0f1114;
}
.info-icon {
    width: 18px;
    position: relative;
    height: 18px;
}
.start-typing-the {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 18px;
}
.info-parent {
    position: absolute;
    top: 192px;
    left: calc(50% - 492px);
    border-radius: 200px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.28);
    box-sizing: border-box;
    width: 984px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px 8px 12px;
    gap: 8px;
    font-size: 14px;
}
.keyfrenzy {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 68px);
    letter-spacing: 0.04em;
    line-height: 28px;
    text-transform: uppercase;
}
.logo-holder {
    width: 220px;
    position: relative;
    height: 72px;
    overflow: hidden;
    flex-shrink: 0;
    font-family: 'Sharp Grotesk';
}
.typetest {
    position: relative;
    line-height: 24px;
}
.typetest-wrapper {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.about-wrapper {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
}
.nav-links2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    font-size: 18px;
    color: #fff;
}
.desktop-windows-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.desktop-windows-parent {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 88px);
    background-color: #d5fe65;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px 12px 20px;
    gap: 8px;
}
.dropdown-theme {
    width: 220px;
    position: relative;
    height: 72px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 16px;
    color: #262629;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0f1114;
    width: 1440px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px;
    box-sizing: border-box;
    font-size: 32px;
    color: #d5fe65;
}
.a-project-by {
    position: relative;
    letter-spacing: -0.04em;
    line-height: 20px;
}
.a-project-by-rohan-sahil-wrapper {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rohan-munot {
    position: relative;
    line-height: 20px;
    white-space: pre-wrap;
}
.linkedin-svgrepo-com-1-icon {
    width: 9px;
    position: relative;
    height: 9px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo-linkedin {
    border-radius: 1.5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}
.linkedin {
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.logo-linkedin-parent {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.github-icon {
    width: 15px;
    position: relative;
    height: 15px;
    overflow: hidden;
    flex-shrink: 0;
}
.mail-icon {
    width: 16px;
    position: relative;
    height: 16px;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.divider21 {
    width: 4px;
    position: relative;
    background-color: #262629;
    height: 28px;
}
.frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
    font-size: 12px;
}
.navbar1 {
    position: absolute;
    top: 762px;
    left: 0px;
    background-color: #0f1114;
    width: 1440px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
    box-sizing: border-box;
}
.lorem-ipsum-dolor {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 48px;
    font-weight: 500;
}
.text-render {
    position: absolute;
    top: 0px;
    left: calc(50% - 600px);
    width: 1200px;
    height: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text-typing {
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
    width: 1200px;
    height: 460px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #d5fe65;
}
.text {
    position: absolute;
    top: 254px;
    left: calc(50% - 600px);
    width: 1200px;
    height: 460px;
    font-size: 28px;
    color: #666;
}
.base {
    width: 100%;
    position: relative;
    background-color: #262629;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

